<html>
    <head>
        <title>{{ page.title }}</title>
    </head>
    <body>
        {% include carcass/header.liquid %}
        {{ content }}
        {% include carcass/footer.liquid %}
    </body>
</html>
