<html>
    <head>
        <title>{{ page.title }}</title>
    </head>
    <body>
        {% include carcass/header %}
        {% block %}{% endblock %}
        {% include carcass/footer %}
    </body>
</html>
