<html>
    <head>
        {% include carcass/meta.liquid %}
        {% include carcass/favicon.liquid %}
        {% include carcass/resources.liquid %}
    </head>
    <body>
        {% include carcass/header.liquid %}
        <div class='app-container'>{{ content }}</div>
        {% include carcass/footer.liquid %}
    </body>
</html>
